.h1_table {
    border: 5px solid #CA8EFF;
    border-radius: 25px;
    padding: 10px;    
}

.h1_td1 {
    font-family: 細明體;
    border: 2px solid #FF7575;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: black;
}

.h1_td2 {
    font-family: 細明體;    
    border: 2px solid red;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: aqua;    
}

.h1_a {
    margin: 10px 200px 10px 200px;
    padding: 20px 0px 20px 0px;
    font-family: 細明體;
    font-weight: bold;
    color: #FF7575;
    display: block;
    text-align: center;
    font-size: 60px;
    border: 5px solid #CA8EFF;
    border-radius: 15px;
}

.h1_div {
    height:400px;
}
